/**************************************************************************************************

    Font definitions

**************************************************************************************************/

@font-face {
    font-family: 'Ubuntu Regular';
    src: url(../webfonts/Ubuntu-Regular.ttf)
}

/**************************************************************************************************

    Base styles

**************************************************************************************************/

:root{
    --background: #fffffe;
    --headline: #00214d;
    --paragraph: #1b2d45;
    --button: #3bf4fb;
    --button-text: #00214d;
    --stroke: #00214d;
    --main: #fffffe;
    --highlight: #3bf4db;
    --highlightlight: #54fff4;
    --highlightdark: #0bbea6;
    --secondary: #c879ff;
    --secondarylight: #e192ff;
    --secondarydark: #b346ff;
    --tertiary: #caff8a;
    --tertiarylight: #fdffbd;
    --tertiarydark: #7cc028;
    --darkersec: #826aed;
    --pink: #ffb7ff;
    --pinklighter: #fdf0fd;
    --pinkdarker: #cc41cc;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    text-transform: uppercase;
    font-family: 'Ubuntu Regular'; 
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a,
a.h1, a.h2, a.h3, a.h4, a.h5 {
    color: var(--headline);
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
a.h1:hover, a.h2:hover, a.h3:hover, a.h4:hover, a.h5:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: var(--button-text);
    transition:0.4s;
}
a:hover {
    text-decoration: none;
    transition:0.4s;
}

body {
    background-color: transparent;
    font-family: 'Ubuntu Regular'; 
    min-height: 100vh;
    font-size: 80%;
    color:var(--paragraph);
}

.bg-danger{
    background-color: var(--secondary)!important;
}

/**************************************************************************************************

    Helpers

**************************************************************************************************/

.hide {
    display: none !important;
}

.parsed-text img {
    max-width: 100% !important;
    height: auto !important;
}

/**************************************************************************************************

    Layout

**************************************************************************************************/

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main);
}

main {
    flex-grow: 1;
    display: flex;
}

main > .row {
    flex-grow: 1;
    margin-bottom:50px;
}

.main-content {
    background-color: var(--main);
    display: flex;
    flex-direction: column;
}

.highlight:hover{
    background-color: var(--highlight);
}

.card-title:hover{
    color:var(--paragraph);
}

.form-control{
    border:3px solid var(--stroke);
    border-radius:3px;
}

.form-control:focus{
    border-color:var(--highlight);
}

/* Header */

.bg-dark{
    background-color: var(--main)!important;
    border-top: 3px solid var(--stroke);
}

.navbar .navbar-brand, .navbar .nav-item {
    text-transform: uppercase;
    font-family:  'Ubuntu Regular'; 
    color:var(--button-text);
    border-radius: 6px;
    width:fit-content;
    align-items:center;
}

#headerNav{
    bottom:0;
    position:fixed;
    z-index: 500;
    width:100vw;
}

.site-header-image {
    background-color: var(--background);
    background-repeat: repeat;
    height: 200px;
}

a.navbar-brand{
    font-size:24px;
    border:none;
    padding-right:13px;
    font-weight:bold;
    background: -webkit-linear-gradient(60deg,var(--highlight), var(--secondary));
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
}

li.nav-item,
li.nav-item:active{
    border-width: 3px;
    border-style:solid;
    border-radius:3px;
    font-size:12px;
    color:var(--button-text);
    font-weight:bold;
    margin:3px;
    padding:0 10px;
}

li.nav-item:hover,
.navbar-dark .navbar-nav .show>.nav-link{
    background:var(--highlight);
    color:var(--button-text);
}

.navbar-dark .navbar-nav .nav-link {
    color:var(--button-text);
    padding:1px;
    margin:0 2px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--button-text);
}

.navbar .row { width: 100%; }

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
    color: var(--paragraph);
    border: none!important;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--paragraph);
}

.dropdown-menu{
    background-color: var(--main);
    box-shadow: 5px 4px 2px 2px #343a4055;
}

.dropdown-menu a{
    color:var(--button-text);
}

.dropdown-menu a:hover{
    background-color: var(--highlight);
}

.dropdown-divider{
    border-top:1px solid var(--stroke);
}

/* Sidebar */

.sidebar {
    text-align: right;
    padding-right: 0px;
    color:var(--button-text);
}

.sidebar ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px;
}

.sidebar ul li {
    background-color: var(--secondary);
    border:3px solid var(--stroke);
    border-radius:6px;
    margin-bottom: 1em;
    padding: 0.4em 0;
}

.sidebar .sidebar-header,
.sidebar .sidebar-section .sidebar-section-header {
    text-transform: uppercase;
    font-family: 'Ubuntu Regular'; 
    font-weight: bold;
}

.sidebar .sidebar-header {
    background-color: var(--highlight);
}
.sidebar .sidebar-header a {
    color: var(--button-text);
}
.sidebar .sidebar-header a:hover {
    background-color: none;
    color: var(--button-text);
}

.sidebar a,
.sidebar-section-header {
    display: block;
    padding: 0.1em 1em;
}

.sidebar a {
    text-transform: uppercase;
    font-family:  'Ubuntu Regular'; 
    color: var(--button-text);
}
.sidebar a:hover {
    color: var(--button-text);
    font-weight:bold;
}

.sidebar a:hover, .sidebar a:active, .sidebar a:focus, .sidebar a:link {
    text-decoration: none;
}

.sidebar a.active, 
.sidebar a.active:hover {
    font-weight: bold;
}

.site-mobile-header {
    display: none;
    padding: 10px 20px;
}

@media (max-width: 767px) {

    .timestamp {
		margin-left: 1rem!important;
		margin-right: 1rem!important;
	}
}

@media (max-width: 991px) {
    .site-header-image {
        display: none;
    }
    .site-mobile-header {
        display: block;
        position: fixed;
        z-index: 4;
        width: 100%;
    }

    .bg-secondary {
        background-color: var(--highlight)!important;
        color:var(--button-text)!important;
    }

    .btn-outline-light {
        color: var(--paragraph);
        background-color: transparent;
        background-image: none;
        border-color: var(--paragraph);
    }

    #headerNav {
        position: fixed;
        z-index: 5;
        width: 100%;
    }

    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.125rem;
        line-height: 1;
        background-color: var(--secondary);
        border-radius: 0.25rem;
    }

    li.nav-item, li.nav-item:active {
        border:none;
        font-size: 12px;
        color: var(--button-text);
        font-weight: bold;
        margin: 3px;
        padding: 0 10px;
    }

    li.nav-item:hover, .navbar-dark .navbar-nav .show>.nav-link {
        background: var(--main);
        color: var(--button-text);
    }

    .dropdown-menu {
        box-shadow:none;
    }

    main.container-fluid {
        margin-top: 122px;
    }

    main.container-fluid > .row {
        position: relative;
    }
    .sidebar {
        position: absolute;
        padding-left: 0px;
        text-align: left;
        background-color: var(--main);
        color:var(--button-text);
        z-index: 3;
        right: 0px;
        bottom: 50px;
        top: 0px;
        overflow-y: scroll;
        left: -100%;
        transition: left 0.2s;
    }
    .sidebar.active {
        left: 0%;
    }

    .sidebar > ul {
        padding-top: 0px;
    }

    .sidebar ul {
        list-style-type: none;
        display: block;
        padding-top: 30px;
        padding-left: 0px;
    }

    .sidebar ul li {
        background-color: var(--main);
        border-radius: 0;
        margin-bottom: 1em;
        padding: 0.4em 0;

        box-shadow: none;
    }

    .sidebar a {
        text-transform: uppercase;
        font-family:  'Ubuntu Regular'; 
        color: var(--button-text);
    }
	
	/*fix for screen being over-wide on mobile*/
	.row {
		margin:0; max-width:100%;
	}

	.container-fluid {
		padding:0px;
	}

	.site-footer .navbar .navbar-nav {
		flex-wrap: wrap; justify-content: center;
	}
}

/* Footer */

.site-footer {
    text-align: center;
}

.site-footer .navbar {
    padding-bottom: 0;
}

.site-footer .navbar .navbar-nav {
    flex-direction: row;
}

.site-footer .navbar .navbar-nav .nav-link{
    color:var(--button-text);
    font-size:9px;
}

.site-footer li.nav-item{
    border:none;
    margin:0;
    padding:0;
}

.site-footer a.nav-link:hover{
    background-color: none;
    text-decoration: underline;
}

.site-footer .copyright {
    padding: 0 1rem 1rem;
    color: var(--button-text);
}

.mce-content-body {
    padding: 20px;
}

/**************************************************************************************************

    Content

**************************************************************************************************/

.card{
    border:3px solid var(--stroke);
    border-radius:6px;
}

.modal-header {
    border-bottom: 0px;
}
.modal-header .modal-title {
    line-height: 1em;
}

.tooltip-inner {
    max-width: 350px !important;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}

.nav-tabs .nav-link {
    text-transform: uppercase;
    font-family:  'Ubuntu Regular'; 
}

.display-user, .display-character {
    font-weight: bold;
}

.help-icon {
    /*vertical-align: middle;*/
    cursor: pointer;
    margin: 0 5px;
    color: var(--button);
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-family:  'Ubuntu Regular'; 
    text-transform: uppercase;
    align-items: center;
}
.breadcrumb a {
    color: var(--button-text);
}
.breadcrumb a:hover {
    color: var(--button-text);
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before {
    content: "»";
}
.collapse-title {
    position: relative;
}
.collapse-title:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0.425em;
    border: 0.3em solid var(--stroke);
    border-color: var(--stroke) transparent transparent transparent;
}   

.image, .image-thumb {
    max-width: 100%;
}

.help-icon {
    /* vertical-align: middle; */
    cursor: pointer;
    margin: 0 5px;
    color: var(--secondary);
}

.alert-success {
    color: var(--tertiarydark);
    background-color: var(--tertiarylight);
    border-color: var(--tertiary);
}

.alert-danger {
    color: var(--pinkdarker);
    background-color: var(--pinklighter);
    border-color: var(--pink);
}

.badge-success {
    color: var(--paragraph);
    background-color: var(--tertiary);
}

.badge-danger {
    color: var(--paragraph);
    background-color: var(--pink);
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border:3px solid var(--stroke);
}

.btn-primary {
    background-color: var(--highlight);
    color:var(--button-text);
    border:3px solid var(--stroke);
}

.btn-primary:hover {
    color:var(--button-text);
    background-color: var(--highlightlight);
    border:3px solid var(--stroke);
}

.btn-secondary {
    background-color: var(--secondary);
    color:var(--button-text);
    border:3px solid var(--stroke);
}

.btn-secondary:hover {
    color: var(--button-text);
    background-color: var(--secondarylight)!important;
    border:3px solid var(--stroke);
}

.btn-success {
    background-color: var(--tertiary);
    color:var(--button-text);
    border:3px solid var(--stroke);
}

.btn-success:hover {
    background-color: var(--tertiarylight);
    color:var(--button-text);
    border:3px solid var(--stroke);
}

.btn-danger {
    color: var(--button-text);
    background-color: var(--pink);
    border: 3px solid var(--stroke);
}

.btn-danger:hover {
    background-color: var(--pinkdarker);
    color:var(--main);
    border: 3px solid var(--stroke);
}

.btn-outline-info {
    color: var(--highlightdark);
    background-color: transparent;
    background-image: none;
    border-color: var(--highlightdark);
}

.btn-outline-info:hover {
    color: var(--main);
    background-color: var(--highlightdark);
    border-color: var(--highlightdark);
}

.btn-outline-primary {
    color: var(--paragraph);
    background-color: transparent;
    background-image: none;
    border-color: var(--paragraph);
}

.btn-outline-primary:hover {
    color: var(--main);
    background-color: var(--paragraph);
    border-color: var(--paragraph);
}

.btn-outline-success {
    color: var(--button-text);
    background-color: transparent;
    background-image: none;
    border-color: var(--stroke);
}

.btn-outline-success:hover {
    color: var(--button-text);
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.btn-outline-danger {
    color: var(--pinkdarker);
    background-color: transparent;
    background-image: none;
    border-color: var(--pinkdarker);
}

.btn-outline-danger:hover {
    color: var(--pinklighter);
    background-color: var(--pinkdarker);
    border-color: var(--pinkdarker);
}

.pagination {
    flex-wrap: wrap;
}

.spoiler {
    border: 1px solid var(--stroke);
    border-radius: 5px;
    margin-bottom: 1rem;
    background: transparent;
    margin-top: 0px;
}
.spoiler-toggle {
    font-weight: bold;
    background-color: var(--main);
    cursor: pointer;
    padding: .3rem 1.25rem;
    font-size: .9rem;
    font-family: 'Ubuntu Regular'; 
    color: inherit;
    text-transform: uppercase;
}
.spoiler-text {
    padding: .75rem 1.25rem;
    border-top: 1px solid var(--stroke);
}
.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}
.small-icon {
    height: 2rem;
    padding-right: .5rem;
}

/* NOTIFICATIONS *********************************************************************************/

.notifications-table .unread, .notifications-table .unread td {
    background-color: var(--main);
}

/* BROWSE ****************************************************************************************/

.world-entry-image {
    text-align: center;
}

.world-entry-image img {
    max-width: 100%;
}
.world-entry-search {
    opacity: 0.5;
}

.masterlist-search-field {
    display: inline-block;
    align-items: center;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}
.masterlist-search-field label {
    margin-bottom: 0px;
    margin-right: 10px;
}
.masterlist-search-field input[type=text], .masterlist-search-field select {
    width: 300px;
}

/* ADMIN ****************************************************************************************/

.ranks-table tbody tr > td:last-of-type {
    text-align: right;
}

.sortable .handle {
    color: var(--button-text);
}
.sortable .sortable-placeholder {
    background-color: var(--button-text);
}


/* LOGS ******************************************************************************************/
tr.inflow {
    background-color: var(--main);
}
tr.outflow {
    background-color: var(--main);
}


/* PROFILE ***************************************************************************************/

.profile-assets-card .card-body {
    display: flex;
    flex-direction: column;
}
.profile-assets-card .card-body .profile-assets-content {
    flex-grow: 1;
}

.profile-assets .profile-inventory .profile-inventory-item img {
    max-width: 100%;
}

.character-bio .nav-tabs.card-header-tabs .active {
    background-color: var(--main);
}

.text-success {
    color: var(--highlight)!important;
}

/* INVENTORY *************************************************************************************/

.inventory-category .inventory-body .inventory-item img {
    max-width: 100%;
}
.inventory-stack-name, .inventory-character-name {
    color: var(--button-text);
}
.inventory-stack-name:hover, .inventory-character-name:hover {
    color: inherit;
    text-decoration: none;
}
tr.accountbound {
    background-color: var(--main);
    border-radius: .25rem;
}

/* CHARACTERS ************************************************************************************/

.image-nav .nav-item a {
    border: 5px solid transparent;
    border-radius: .25rem;
    display: block;
}
.image-nav .nav-item a.active {
    border: 5px solid var(--main);
}

.img-thumbnail{
    width:280px;
}

.card-title{
    text-align:center;
    font-size:20px;
}

#sortable .card:hover{
    background-color: var(--highlight);
}

/* TRANSFERS *************************************************************************************/

.transfer-row, .submission-character-row {
    display: flex;
    align-items: stretch;
}
.transfer-info, .submission-character-info {
    flex-grow: 1;
}
.transfer-info .card-body, .submission-character-info .card-body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.transfer-info-content, .submission-character-info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.transfer-info-content .transfer-info-body, .submission-character-info-content .submission-character-info-body {
    flex-grow: 1;
}

.collapse-toggle {
    position: relative;
}
.collapse-toggle:after {
    display: block;
    content: '';
    border: 0.3rem solid var(--button-text);
    border-color: transparent transparent transparent var(--button-text);
    position: absolute;
    right: -0.85rem;
    top: 0.45rem;
    transform: rotateZ(90deg) translateX(0.25rem);
}
.collapse-toggle.collapsed:after {
    transform: none;
}
.user-items .inventory-item, .user-characters .character-item {
    padding: 10px;
}
.user-items .inventory-stack, .user-characters .character-stack {
    cursor: pointer;
}
.user-items .inventory-item img, .user-characters .character-item img {
    max-width: 100%;
}
.user-characters .character-item.disabled, .user-characters .character-item.disabled .character-stack  {
    opacity: 0.5;
    cursor: not-allowed;
}
.user-items .category-selected .inventory-item, .user-characters .category-selected .character-item {
    background-color: var(--main);
    border-radius: .25rem;
}
.user-items .category-selected.select-item-row {
    background-color: var(--main);
}

/* SHOPS *****************************************************************************************/
.shops-row img {
    max-width: 100%;
}
.shops-row .shop-name a {
    font-weight: bold;
}

/* TRADES ****************************************************************************************/
.trade-offer .currency-item {
    background-color: transparent;
}

/* BOOKMARKS *************************************************************************************/
.bookmark-table {
    min-width: 1000px;
}

.bookmark-table .bookmark-thumbnail {
    min-width: 115px;
    width: 115px;
}

.bookmark-table .bookmark-info {
    width: 20%;
}

.bookmark-table .bookmark-notifications {
    width: 18%;
}

.bookmark-table .bookmark-actions {
    width: 18%;
}

.bookmark-table .img-thumbnail {
    width: 100px;
}

/* BOOTSTRAP TABLES *************************************************************************************/
.ubt-bottom {
  border-bottom:1px solid var(--main);
}

.ubt-top {
  border-top:1px solid var(--main);
}

.ubt-texthide {
  width:100%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

/* COMMENTS *************************************************************************************/
.comment_replies {
        padding-left: 3rem;
        border-left-width: 2px!important;
    }

@media only screen and (max-width: 600px) {
    .comment_replies { padding-left:1rem;}
}

.overflow-auto {overflow:auto;}
/* RECIPES ***************************************************************************************/
.recipe-image {
    width: 150px;
}
/* RESPONSIVE BORDERS https://stackoverflow.com/questions/46412541/applying-borders-on-elements-depending-on-device-size-with-bootstrap */
@media (min-width: 576px) {
    .border-sm-top {
      border-top: 1px solid #e3e7eb !important;
    }
    .border-sm-right {
      border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-bottom {
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-sm-left {
      border-left: 1px solid #e3e7eb !important;
    }
    .border-sm-top-0 {
      border-top: 0 !important;
    }
    .border-sm-right-0 {
      border-right: 0 !important;
    }
    .border-sm-bottom-0 {
      border-bottom: 0 !important;
    }
    .border-sm-left-0 {
      border-left: 0 !important;
    }
    .border-sm-x {
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-y {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-sm {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }

  @media (min-width: 768px) {
    .border-md-top {
      border-top: 1px solid #e3e7eb !important;
    }
    .border-md-right {
      border-right: 1px solid #e3e7eb !important;
    }
    .border-md-bottom {
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-md-left {
      border-left: 1px solid #e3e7eb !important;
    }
    .border-md-top-0 {
      border-top: 0 !important;
    }
    .border-md-right-0 {
      border-right: 0 !important;
    }
    .border-md-bottom-0 {
      border-bottom: 0 !important;
    }
    .border-md-left-0 {
      border-left: 0 !important;
    }
    .border-md-x {
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-md-y {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-md {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-md-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }

  @media (min-width: 992px) {
    .border-lg-top {
      border-top: 1px solid #e3e7eb !important;
    }
    .border-lg-right {
      border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-bottom {
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-lg-left {
      border-left: 1px solid #e3e7eb !important;
    }
    .border-lg-top-0 {
      border-top: 0 !important;
    }
    .border-lg-right-0 {
      border-right: 0 !important;
    }
    .border-lg-bottom-0 {
      border-bottom: 0 !important;
    }
    .border-lg-left-0 {
      border-left: 0 !important;
    }
    .border-lg-x {
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-y {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-lg {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }

  @media (min-width: 1200px) {
    .border-xl-top {
      border-top: 1px solid #e3e7eb !important;
    }
    .border-xl-right {
      border-right: 1px solid #e3e7eb !important;
    }
    .border-xl-bottom {
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-xl-left {
      border-left: 1px solid #e3e7eb !important;
    }
    .border-xl-top-0 {
      border-top: 0 !important;
    }
    .border-xl-right-0 {
      border-right: 0 !important;
    }
    .border-xl-bottom-0 {
      border-bottom: 0 !important;
    }
    .border-xl-left-0 {
      border-left: 0 !important;
    }
    .border-xl-x {
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-xl-y {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
    }
    .border-xl {
      border-top: 1px solid #e3e7eb !important;
      border-bottom: 1px solid #e3e7eb !important;
      border-left: 1px solid #e3e7eb !important;
      border-right: 1px solid #e3e7eb !important;
    }
    .border-xl-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
