/**************************************************************************************************

    Font definitions

**************************************************************************************************/

@font-face {
    font-family: Roboto Condensed;
    src: url(../webfonts/RobotoCondensed-Regular.ttf)
}
@font-face {
    font-family: Amatic;
    src: url(../webfonts/AmaticSC-Regular.ttf)
}
@font-face {
    font-family: WendyOne;
    src: url(../webfonts/WendyOne-Regular.ttf)
}
@font-face {
    font-family: Lato;
    src: url(../webfonts/Lato-Regular.ttf)
}


/**************************************************************************************************

    Base styles

**************************************************************************************************/

:root{
    --white: #f9f9f7;
    --black: #1c1005;
    --brand: #88485f;
    --branddarker: #3c120d;
    --brandlighter:#fbb9b6;
    --accent: #a64f24;
    --light: #ffe29d;
    --lightdarker: #ca9d4d;
    --dark: #1c4849;
}

/* OLD COLOURS
:root{
    --white: #f9f9f7;
    --black: #0a1e21;
    --brand: #40d5e9;
    --branddarker: #37bcce;
    --accent: #fc6c16;
    --light: #c2dfe0;
    --dark: #024553;
}
*/

.site-header-image{
    display:none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    text-transform: uppercase;
    font-family: Lato;
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a,
a.h1, a.h2, a.h3, a.h4, a.h5 {
    color: var(--dark);
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
a.h1:hover, a.h2:hover, a.h3:hover, a.h4:hover, a.h5:hover {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid var(--brand);
}

a {
    color: rgba(0,0,0,0.7);
}

a:hover {
    color: rgba(0,0,0,1);
    text-decoration: none;
}

body {
    background-color: var(--light);
    font-family: Lato, sans-serif;
    width:100%;
    min-height: 100%;
    display:flex;
    background-color: var(--light);
    background-image: url(images/Augustwide.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
}

/**************************************************************************************************

    Helpers

**************************************************************************************************/

.hide {
    display: none !important;
}

.grecaptcha-badge { visibility: hidden !important; }

.parsed-text img {
    max-width: 100% !important;
    height: auto !important;
}

.parsed-text p,
.parsed-text ul{
<<<<<<< HEAD
    background-color: var(--light);
    color:var(--black);
    border-radius: 8px;
    margin:10px;
    padding:30px;
    text-align:center;
    list-style:none;
=======
    border-radius: 8px;
    margin:10px;
    padding:30px;
>>>>>>> c75d594e4202f88da1e29e2b804abc736aeac140
}

.parsed-text a{
    color:var(--dark);
    text-decoration: none;
    border-bottom: 1px solid var(--dark);
}

.parsed-text a:hover{
    color:var(--dark);
    text-decoration: none;
    border-bottom:2px solid var(--accent);
    font-weight:bold;
}

.parsed-text h1,
.parsed-text h2{
<<<<<<< HEAD
    background:var(--brand);
=======
>>>>>>> c75d594e4202f88da1e29e2b804abc736aeac140
    margin:10px;
    padding:20px;
    border-radius: 8px;
    color:var(--black);
}

.btn-primary{
    color:var(--black);
    background-color: var(--light);
    border-color:var(--light);
}

.btn-primary:hover{
    color:var(--white);
    background-color: var(--lightdarker);
    border-color:var(--lightdarker);
}

.btn-danger{
    color:var(--white);
    background-color: var(--brand);
    border-color:var(--brand);
}

.btn-danger:hover{
    color:var(--white);
    background-color: var(--branddarker);
    border-color:var(--branddarker);
}

/**************************************************************************************************

    Layout

**************************************************************************************************/

#app {
    display: flex;
    flex-direction: column;
    height: 98vh;
    width:99vw;
}

main {
    flex-grow: 1;
    display: flex;
    height:100%;
}

main > .row,
.row {
    flex-grow: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color:rgba(194, 223, 224,0.8);
    border-radius:10px;
    height:fit-content;
}

/* Header */

.site-header-image {
    /*background-color: #eee;*/
    background-repeat: repeat;
    min-height: 200px;
}

.navbar .nav-item {
    font-family: WendyOne;
    text-transform: lowercase;
<<<<<<< HEAD
}

.navbar .navbar-brand{
    font-family: Amatic;
    color:var(--accent);
    font-size:64px;
    font-weight:bold;
    position: relative;
    padding:10px;
    margin-top:-60px;
    background-image: linear-gradient(0deg, rgba(199,198,140,0) 40%, #f3da95 50%)!important;
}

=======
}

.navbar .navbar-brand{
    font-family: Amatic;
    color:var(--accent);
    font-size:64px;
    font-weight:bold;
    position: relative;
    padding:10px;
    margin-top:-60px;
    background-image: linear-gradient(0deg, rgba(199,198,140,0) 40%, #f3da95 50%)!important;
}

>>>>>>> c75d594e4202f88da1e29e2b804abc736aeac140
.navbar .navbar-brand:hover{
    color:var(--brand);
}

.navbar .row {
    width: 100%;
}

.bg-dark{
    background-image: linear-gradient(0deg, rgba(199,198,140,0) 0%, rgba(255,226,157,1) 100%)!important;
    background-color: rgba(0,0,0,0)!important;
    border-top: 2px solid var(--black);
    padding-left:100px;
    width:100vw;
    margin-top:50px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link a{
    color:var(--dark);
    font-size: 16px;
    margin-top:-20px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link{
    color: var(--dark);
    border-bottom: 2px solid var(--brand);
    margin-bottom: -2px;
    padding: 8px 8px 0px 8px;
}

.dropdown-menu{
    background-color: var(--white);
    font-family: Lato;
    font-size:14px;
    text-transform: capitalize;
}

.dropdown-item:hover{
    background-color: var(--brandlighter);
}

/* Sidebar */

.sidebar {
    text-align: center;
    padding-right: 0px;
}

.sidebar ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px;
}

.sidebar ul li {
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 0.4em 0;
}

.sidebar .sidebar-header,
.sidebar .sidebar-section .sidebar-section-header {
    text-transform: lowercase;
    font-family: WendyOne;
    font-weight: bold;
}

.sidebar .sidebar-header {
    background-color: var(--dark);
}
.sidebar .sidebar-header a {
    color: white;
}
.sidebar .sidebar-header a:hover {
    background-color: transparent;
    color: rgba(255,255,255,0.8);
}

.sidebar-section{
    background: linear-gradient(180deg, rgba(160, 222, 210,1) 55%, rgba(249,249,247,.5) 100%);
}

.sidebar a,
.sidebar-section-header {
    display: block;
    padding: 0.1em 1em;
}

.sidebar a {
    text-transform: uppercase;
    font-family: Lato;
    color:var(--black);
    font-size:11px;
}
.sidebar a:hover {
    background-color: transparent;
    font-weight:bolder;
    border-left: 3px solid var(--brand);
    margin-left: -3px;

}
.sidebar a:hover, .sidebar a:active, .sidebar a:focus, .sidebar a:link {
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: none;
}
.sidebar a.active, .sidebar a.active:hover {
    color: var(--white);
    background-color: var(--brand);
    font-weight:bolder;
}

.site-mobile-header {
    display: none;
    padding: 10px 20px;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {

	.site-mobile-header {
		top: 54px !important;
    }

    .timestamp {
		margin-left: 1rem!important;
		margin-right: 1rem!important;
	}

    .site-mobile-header{
        position: relative!important;
        margin-top:-50px!important;
        z-index:10!important;
    }

    .site-footer{
        background-color: var(--brand);
<<<<<<< HEAD
=======
        position:fixed;
        bottom:0;
>>>>>>> c75d594e4202f88da1e29e2b804abc736aeac140
    }
}

@media (max-width: 991px) {
    .site-header-image {
        display: none;
    }
    .site-mobile-header {
        display: block;
        position: fixed;
        z-index: 4;
        width: 100%;
        background-color: transparent!important;
    }

    .btn-outline-light{
        color:var(--black);
        border-color:var(--black);
    }

    .bg-dark{
        background-image:none!important;
        border:none;
    }

    .navbar .navbar-brand{
        font-size:22px;
        background-image:none!important;
        margin:0px;
        left:-60px;
    }

    .navbar .navbar-brand,
    .navbar .navbar-brand:hover,
    .navbar .navbar-brand:active,
    .navbar .navbar-brand:focus,
    .navbar .navbar-brand:visited{
        color:var(--white);
    }

    #headerNav {
        position: fixed;
        z-index: 5;
        width: 100%;
        background-color: var(--brand)!important;
    }

    main.container-fluid {
        margin-top: 122px;
    }

    main.container-fluid > .row {
        position: relative;
    }
    .sidebar {
        position: absolute;
        padding-left: 0px;
        text-align: left;
        background-color: var(--light);
        z-index: 3;
        right: 0px;
        bottom: 0px;
        top: 0px;
        overflow-y: scroll;

        left: -100%;
        transition: left 0.2s;
        color:var(--black)
    }
    .sidebar.active {
        left: 0%;
    }

    .sidebar-section{
        background:none;
    }

    .sidebar > ul {
        padding-top: 0px;
    }

    .sidebar ul {
        list-style-type: none;
        display: block;
        padding-top: 30px;
        padding-left: 0px;
        background-color: transparent;
    }

    .sidebar ul li {
        background-color: transparent;
        border-radius: 0;
        margin-bottom: 1em;
        padding: 0.4em 0;
        box-shadow: none;
    }

    .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link a{
        color:var(--white);
        margin-top:6px;
    }

	/*fix for screen being over-wide on mobile*/
	.row {
		margin:0; max-width:100%;
	}

	.container-fluid {
		padding:0px;
	}

	.site-footer .navbar .navbar-nav {
		flex-wrap: wrap; justify-content: center;
	}
}

/* Footer */

.site-footer {
    text-align: center;
    align-self: flex-end;
    width:100vw;
    position:fixed;
    bottom:0;
<<<<<<< HEAD
=======
    z-index:-1;
>>>>>>> c75d594e4202f88da1e29e2b804abc736aeac140
}

.site-footer .navbar {
    padding-bottom: 0;
}
.site-footer .navbar .navbar-nav {
    flex-direction: row;
}
.site-footer .navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.site-footer .copyright {
    padding: 0 1rem 1rem;
    color: rgba(255, 226, 157,0.5);
}

.mce-content-body {
    padding: 20px;
}

<<<<<<< HEAD
=======
#tinymce{
    background-color: #fff;
    background-image:none;
}

>>>>>>> c75d594e4202f88da1e29e2b804abc736aeac140
.site-footer a{
    color: rgba(255, 226, 157,0.5)!important;
}

.site-footer a:hover{
    color: rgba(162, 223, 211,0.8)!important;
}

/**************************************************************************************************

    Content

**************************************************************************************************/

.card{
    border:none;
}

.card-body{
    background-color: var(--white);
}

.card-title{
    font-family: WendyOne;
    text-transform: lowercase;
    color:var(--dark);
    font-size:16px;
}

.modal-header {
    border-bottom: 0px;
}
.modal-header .modal-title {
    line-height: 1em;
}

.tooltip-inner {
    max-width: 350px !important;
}

.nav-tabs .nav-link.active {
    background-color: var(--white);
}
.nav-tabs .nav-link {
    text-transform: uppercase;
    font-family: Lato;
}

.display-user, .display-character {
    font-weight: bold;
}

.help-icon {
    /*vertical-align: middle;*/
    cursor: pointer;
    margin: 0 5px;
    color: rgba(0,0,0,0.3);
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-family: Roboto Condensed, serif;
    text-transform: uppercase;
    align-items: center;
}
.breadcrumb a {
    color: rgba(0,0,0,0.3);
}
.breadcrumb a:hover {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before {
    content: "»";
}
.collapse-title {
    position: relative;
}
.collapse-title:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0.425em;
    border: 0.3em solid rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.3) transparent transparent transparent;
}

.image, .image-thumb {
    max-width: 100%;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination {
    flex-wrap: wrap;
}

.spoiler {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 1rem;
    background: transparent;
    margin-top: 0px;
}
.spoiler-toggle {
    font-weight: bold;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: .3rem 1.25rem;
    font-size: .9rem;
    font-family: Roboto Condensed, serif;
    color: inherit;
    text-transform: uppercase;
}
.spoiler-text {
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}
.small-icon {
    height: 2rem;
    padding-right: .5rem;
}

/* NOTIFICATIONS *********************************************************************************/

.notifications-table .unread, .notifications-table .unread td {
    background-color: #fffdf0;
}

/* BROWSE ****************************************************************************************/

.world-entry-image {
    text-align: center;
}

.world-entry-image img {
    max-width: 100%;
}
.world-entry-search {
    opacity: 0.5;
}

.masterlist-search-field {
    display: inline-block;
    align-items: center;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}
.masterlist-search-field label {
    margin-bottom: 0px;
    margin-right: 10px;
}
.masterlist-search-field input[type=text], .masterlist-search-field select {
    width: 300px;
}

/* ADMIN ****************************************************************************************/

.ranks-table tbody tr > td:last-of-type {
    text-align: right;
}

.sortable .handle {
    color: #343a40;
}
.sortable .sortable-placeholder {
    background-color: rgba(0,0,0,0.1);
}


/* LOGS ******************************************************************************************/
tr.inflow {
    background-color: #fafaff;
}
tr.outflow {
    background-color: #fffafa;
}

/* These are not truly tables, but divs styled to look like tables */
.logs-table .logs-table-header {
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    font-weight: bold;
    padding: 0px;
    flex-wrap: wrap;
}
.logs-table .logs-table-header .logs-table-cell,
.logs-table .logs-table-body .logs-table-cell {
    padding: .3rem;
}
.logs-table .logs-table-body > .logs-table-row:first-of-type {
    border-top-width: 0;
}
.logs-table .logs-table-body > .logs-table-row,
.logs-table-row .logs-table-row {
    border-top: 1px solid #dee2e6;
}
.logs-table .logs-table-body .logs-table-cell .inflow,
.logs-table .logs-table-body .logs-table-cell .outflow {
    width: 33px;
    line-height: 33px;
    text-align: center;
    position: relative;
    top: -.3rem;
    margin-bottom: -.6rem;
    vertical-align: middle;
    color: #fff;
}


/* PROFILE ***************************************************************************************/

.profile-assets-card .card-body {
    display: flex;
    flex-direction: column;
}
.profile-assets-card .card-body .profile-assets-content {
    flex-grow: 1;
}

.profile-assets .profile-inventory .profile-inventory-item img {
    max-width: 100%;
}

.character-bio .nav-tabs.card-header-tabs .active {
    background-color: var(--light);
    border-color:var(--lightdarker);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color:var(--lightdarker);
}

/* INVENTORY *************************************************************************************/

.inventory-category .inventory-body .inventory-item img {
    max-width: 100%;
}
.inventory-stack-name, .inventory-character-name {
    color: rgba(0,0,0,0.7);
}
.inventory-stack-name:hover, .inventory-character-name:hover {
    color: inherit;
    text-decoration: none;
}
tr.accountbound {
    background-color: rgba(0,0,0,0.05);
    border-radius: .25rem;
}

/* CHARACTERS ************************************************************************************/

.image-nav .nav-item a {
    border: 5px solid transparent;
    border-radius: .25rem;
    display: block;
}
.image-nav .nav-item a.active {
    border: 5px solid #ddd;
}

/* TRANSFERS *************************************************************************************/

.transfer-row, .submission-character-row {
    display: flex;
    align-items: stretch;
}
.transfer-info, .submission-character-info {
    flex-grow: 1;
}
.transfer-info .card-body, .submission-character-info .card-body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.transfer-info-content, .submission-character-info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.transfer-info-content .transfer-info-body, .submission-character-info-content .submission-character-info-body {
    flex-grow: 1;
}

.collapse-toggle {
    position: relative;
}
.collapse-toggle:after {
    display: block;
    content: '';
    border: 0.3rem solid rgba(0,0,0,0.5);
    border-color: transparent transparent transparent rgba(0,0,0,0.5);
    position: absolute;
    right: -0.85rem;
    top: 0.45rem;
    transform: rotateZ(90deg)translateX(0.25rem);
}
.collapse-toggle.collapsed:after {
    transform: none;
}
.user-items .inventory-item, .user-characters .character-item {
    padding: 10px;
}
.user-items .inventory-stack, .user-characters .character-stack {
    cursor: pointer;
}
.user-items .inventory-item img, .user-characters .character-item img {
    max-width: 100%;
}
.user-characters .character-item.disabled, .user-characters .character-item.disabled .character-stack  {
    opacity: 0.5;
    cursor: not-allowed;
}
.user-items .category-selected .inventory-item, .user-characters .category-selected .character-item {
    background-color: rgba(0,0,0,0.05);
    border-radius: .25rem;
}
.user-items .category-selected.select-item-row {
    background-color: rgba(0,0,0,0.05);
}

/* SHOPS *****************************************************************************************/
.shops-row img {
    max-width: 100%;
}
.shops-row .shop-name a {
    font-weight: bold;
}

/* TRADES ****************************************************************************************/
.trade-offer .currency-item {
    background-color: transparent;
}

/* BOOKMARKS *************************************************************************************/
.bookmark-table {
    min-width: 1000px;
}

.bookmark-table .bookmark-thumbnail {
    min-width: 115px;
    width: 115px;
}

.bookmark-table .bookmark-info {
    width: 20%;
}

.bookmark-table .bookmark-notifications {
    width: 18%;
}

.bookmark-table .bookmark-actions {
    width: 18%;
}

.bookmark-table .img-thumbnail {
    width: 100px;
}

/* BOOTSTRAP TABLES *************************************************************************************/
.ubt-bottom {
  border-bottom:1px solid #dee2e6;
}

.ubt-top {
  border-top:1px solid #dee2e6;
}

.ubt-texthide {
  width:100%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

/* COMMENTS *************************************************************************************/
.comment_replies {
        padding-left: 3rem;
        border-left-width: 2px!important;
    }

.comment>p>img {
        max-width: 100%;
        height: auto;
    }

@media only screen and (max-width: 600px) {
    .comment_replies { padding-left:1rem;}
}

/*----------------research-tree----------*/

.research-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.research-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
.research-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.research-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}


/*----------------research-tree----------*/
.research-body{
    white-space: nowrap;
    overflow-y: hidden;
}
.research-tree ul {
    padding-top: 20px;
    position: relative;
    padding-left: 0px;
    display: flex;
}
.research-tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
.research-tree li::before, .research-tree li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 18px;
}
.research-tree li::after{
    right: auto; left: 50%;
    border-left: 2px solid #ccc;
}
.research-tree li:only-child::after, .research-tree li:only-child::before {
    display: none;
}
.research-tree li:only-child{
    padding-top: 0;
}
.research-tree li:first-child::before, .research-tree li:last-child::after{
    border: 0 none;
}
.research-tree li:last-child::before{
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.research-tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.research-tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #ccc;
    width: 0; height: 20px;
}
.research-tree li a{
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.research-tree li a:hover+ul li::after,
.research-tree li a:hover+ul li::before,
.research-tree li a:hover+ul::before,
.research-tree li a:hover+ul ul::before{
    border-color:  #fbba00;
}

/*--------------member-card-design----------*/
.member-view-box{
    padding:0px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.member-image{
    position: relative;
}
/* RECIPES ***************************************************************************************/
.recipe-image {
    width: 150px;
}
/*
    Credit to Preimpression for all of this code. You can find their github here:
    https://github.com/preimpression

    Branch where the code is from:
    https://github.com/preimpression/lorekeeper/tree/extension/research_trees
*/

.children-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.children-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
.children-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.children-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}


/*----------------children-skill----------*/
.children-body{
    white-space: nowrap;
    overflow-y: hidden;
}
.children-skill ul {
    padding-top: 20px;
    position: relative;
    padding-left: 0px;
    display: flex;
}
.children-skill li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
.children-skill li::before, .children-skill li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 18px;
}
.children-skill li::after{
    right: auto; left: 50%;
    border-left: 2px solid #ccc;
}
.children-skill li:only-child::after, .children-skill li:only-child::before {
    display: none;
}
.children-skill li:only-child{
    padding-top: 0;
}
.children-skill li:first-child::before, .children-skill li:last-child::after{
    border: 0 none;
}
.children-skill li:last-child::before{
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.children-skill li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.children-skill ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #ccc;
    width: 0; height: 20px;
}
.children-skill li a{
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.children-skill li a:hover+ul li::after,
.children-skill li a:hover+ul li::before,
.children-skill li a:hover+ul::before,
.children-skill li a:hover+ul ul::before{
    border-color:  #fbba00;
}

/*--------------member-card-design----------*/
.member-view-box{
    padding:0px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.member-image{
    position: relative;
}
